* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin-left: 160px;
}

header {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: rgb(209, 50, 28);
  justify-content: space-around;
  align-items: center;
}

aside {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(45, 102, 45);
  overflow-x: hidden;
  padding-top: 70px;
}

.side {
  padding: 15px 8px 25px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #d4d4d4;
  display: block;
}

h1 {
  color: black;
  font-size: 30px;
}
header a {
  color:black;
  font-size: 30px;
  text-decoration: none;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 15vw;
  padding-left: 15vw;
}

p {
  display: block;
  width: 150px;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}

input[type=submit] {
  height: 30px;
}

.delete {
  background-color:rgb(209, 50, 28);
}

.add {
  background-color: rgb(45, 102, 45);
}

input[type=text] {
  width: 150px;  
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 800px) {
  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
    position: relative;
    height: 60px;
    width: 100%;
    background-color: rgb(45, 102, 45);
  }

  .side {
    padding: 5px 0 5px 0;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-size: 20px;
    color: #d4d4d4;
    display: block;
  }

  body {
    margin-left: 0px;
  }

  h1, header a {
    font-size: 25px;
  }
}