{% extends 'base.html'%}

{% block head %}
  <title>Menu</title>
{% endblock %}

{% block body %}
{% if message %}
<p>{{ message }}</p>
{% endif %}
  <form action="" method="post">
    <fieldset class="pizza-size">
      <legend>Pizza Size</legend>
      <label><input type="radio" name="pizza-size" value="small">Small</label>
      <label><input type="radio" name="pizza-size" value="medium">Medium</label>
      <label><input type="radio" name="pizza-size" value="large">Large</label>
      <label><input type="radio" name="pizza-size" value="x-large">X-Large</label>
    </fieldset>

    <fieldset class="meat-toppings">
      <legend>Meat Toppings</legend>
      <label><input type="checkbox" name="pepperoni">Pepperoni</label>
      <label><input type="checkbox" name="sausage">Sausage</label>
      <label><input type="checkbox" name="ham">Ham</label>
      <label><input type="checkbox" name="bacon">Bacon</label>
      <label><input type="checkbox" name="salami">Salami</label>
      <label><input type="checkbox" name="steak">Steak</label>
      <label><input type="checkbox" name="chicken">Chicken</label>
    </fieldset>

    <fieldset class="veggie-toppings">
      <legend>Veggie Toppings</legend>
      <label><input type="checkbox" name="onions">Onions</label>
      <label><input type="checkbox" name="banana-peppers">Banana Peppers</label>
      <label><input type="checkbox" name="tomatoe">Tomatoes</label>
      <label><input type="checkbox" name="olives">Olives</label>
      <label><input type="checkbox" name="mushrooms">Mushrooms</label>
      <label><input type="checkbox" name="pineapple">Pineapple</label>
      <label><input type="checkbox" name="green-peppers">Green Peppers</label>
      <label><input type="checkbox" name="spinach">Spinach</label>
      <label><input type="checkbox" name="red-peppers">Red Peppers</label>
    </fieldset>
    <input type="submit" value="Add To Cart!">
  </form>
{% endblock %}