{% extends 'base.html'%}

{% block head %}
  <title>Menu</title>
{% endblock %}

{% block body %}

{% if message %}
<p>{{ message }}</p>
{% endif %}
  <form action="" method="post">
  <div class="complete-menu">
    <div class="menu">
      <h2>Our Menu</h2>
      <form action="" method="post">
        <fieldset>
          <legend>Select Your Pizza Crust</legend>
          {% for item in crusts %}
          <label><input type="radio" name="crust" value="{{item}}">{{item}}</label>
          {%endfor%}
        </fieldset>
        <fieldset>
          <legend>Select Only 2 Toppings</legend>
          {%for item in toppings%}
          <label><input type="checkbox" name="toppings" value="{{item}}">{{item}}</label>
          {%endfor%}
        </fieldset>
        <button type="submit">Add to Cart</button>
      </form>
    </div>

    <div class="cart">
      <h2>Your Cart</h2>
      {% if 'cart' in session %}
      <div class="cart-buttons">
        <form action="/clear" method="post">
          <button type="submit">Clear Cart</button>
        </form>
        <form action="/checkout">
          <button type="submit">CheckOut</button>
        </form>
      </div>
        {% for key,val in session['cart'].items() %}
          <div class="cart-item">
            <p>Pizza Size: {{val.size}}</p>
            <p>Pizza Crust: {{val.crust}}</p>
            
            <p>Pizza Toppings:{% for topping in val.toppings%} {{topping}} {% endfor %}</p>
            
          </div>
        {% endfor%}
        
      
      {% endif %}

      {% if 'cart' not in session: %}
        <p>Unfortuately your cart is empty, add items!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}