<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>
    .container {
        background-color: rgb(45, 102, 45);
        display: flex;
        justify-content: space-around;
        justify-items: center;
        width: 100%;
    }
    input {
        border-style: groove;
    }
    a {
        color: white;
        text-decoration: none;
    }
    footer { 
        text-align: center;
    }
  </style>
</head>
<body>

  <header>
    <h1>Bulldog Pizza</h1>
  
    <nav>
      <ul>
        <li><a href="{{url_for('homepage')}}">Homepage</a></li>
      </ul>
    </nav>
  </header>
<div class="container">
  <div>
    <h1>Register</h1>
    <p>For customers, please register a username and password.</p>
    <p>For employees, please register a username, employeeID, and password.</p>
    <h2>
        <form action="" method="post">
            <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
            <input id="employeeID" name="employeeID" type="text" placeholder="Enter Your EmployeeID" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
            <input type="submit" class="btn" value="Sign Up"></br>
        </form>
    </h2>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <p>Already have an account? Please <a href="{{url_for('login')}}">Login</a>.</p>
    </div>
</div>
<footer>
    <h3>Contact Us</h3>
    <p>000-000-0000</p>
</footer>
</body>
</html>