<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bulldog Pizza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work-menu.css') }}"/>
  </head>

  <body>
      <header>
          <p>717.000.0000</p>
          <p>Bulldog's Pizza</p>
          <a href="http://localhost:5000/">Logout</a>
      </header>
      <aside>
          <a href="http://localhost:5000/work-menu">Menu</a>
          <a href="http://localhost:5000/work-orders">Orders</a>
          <a href="#">Pay Stub</a>
          <a href="#">Messages</a>
          <a href="#">Time Off</a>
      </aside>
      <table border = 5>
        <tr>
           <th class="item">Item</th>
           <th class="size">Size</th>
           <th class="option1">Option 1</th>
           <th class="option2">Option 2</th>
           <th class="price">Price</th>
        </tr>
        {% for key, value in result.items() %}
           <tr>
              <td class="item"> {{ key }} </td>
              <td class="size"> {{ value }} </td>
              <td class="option1"> {{ value }} </td>
              <td class="option2"> {{ value }} </td>
              <td class="price"> {{ value }} </td>
           </tr>
        {% endfor %}
     </table>
  </body>
</html>