<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bulldog Pizza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/workOrders.css') }}">
  </head>

  <body>
    <body>
      <header>
          <h1>717.000.0000</h1>
          <h1>Bulldog's Pizza</h1>
          <a href="{{url_for('logout')}}">Logout</a>
      </header>
      <aside>
          <a class="side" href="{{url_for('workOrder')}}">Orders</a>
          <a class="side" href="{{url_for('workMenu')}}">Menu</a>
          <a class="side" href="{{url_for('payStubs')}}">Pay Stub</a>
          <a class="side" href="{{url_for('messages')}}">Messages</a>
          <a class="side" href="{{url_for('timeOff')}}">Time Off</a>
      </aside>

      <table border = 3>
        <tr>
           <th>Username</th>
           <th>Crust</th>
           <th>Topping 1</th>
           <th>Topping 2</th>
           <th>Order Complete</th>
        </tr>
        {% for item in records %}
           <tr>
              <td> {{ item[1] }} </td>
              <td> {{ item[2] }} </td>
              <td> {{ item[3] }} </td>
              <td> {{ item[4] }} </td>
              <td><label for="complete">Complete</label><input type="checkbox" id="complete" name="finish"/></td>
           </tr>
        {% endfor %}
     </table>
      <form action="/submit" method= 'POST'>
         <p>ENTER USERNAME WHEN CUSTOMER ORDER IS COMPLETE</p>
         <P>PRESS DELETE TO REMOVE ORDER</P>
         <input class="textbox" type="text" size="40px" name="username" placeholder="CUSTOMER USERNAME"/>
         <input type="submit" value="DELETE ORDER"/>
      </form>
  </body>
  </body>
</html>
